* {
    margin: 0;
    padding: 0;
}
input:checked + p {
    background: red;
    font: bold 24px Arial;
}
input:not(:checked) + p {
    background: yellow;
    font: bold 24px Arial;
}

.pai .lista li:last-child {
    background: red;
}

input:required{
    background: red;
}

p:not(.meio) {
    color: blue;
}