/* https://www.w3schools.com/css/css_text.asp */
p {
    font-size: 20px;
    /* font-style: italic;
    font-weight: bold;
    direction: ltr;
    letter-spacing: 1px;
    word-spacing: 5px;
    line-height: 25px; */
    text-align: left;
    /* text-decoration: overline underline; */
    /* text-indent: 50px; */
    text-shadow: -2px -1px 1px red;
    text-transform: initial;
}