.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    border-bottom: 0.1rem solid var(--light-gray-color);
}
.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    padding: 1rem 2rem;
}
.menu h1 {
    font-size: 3rem;
    color: var(--primary-color);
    text-decoration: none;
}
.menu h1 a {
    color: inherit;
}
.menu ul {
    list-style: none;
    display: flex;
}
.menu ul li {
    flex-grow: 1;
    text-align: center;
}
.menu ul li a {
    display: block;
    padding: 1rem;
    font-size: 2rem;
    color: var(--primary-color);
    position: relative;
}
.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 10%;
    width: 0%;
    height: 0.3rem;
    background: var(--secondary-color);
    transition: all 300ms ease-in-out;
}
.menu ul li a:hover::after {
    width: 80%;
}